.item img{
    width: 350px;
   margin-top: 100px;
   right: 20px;
   display: flex;
}
.Author-img{
    max-width:60px;
    border-radius: 50%;
    
}

.Author-name{
    margin-top: 1px;
    margin-right: 700px;
}

.Read{
    margin-top: 50px;
    margin-right: 500px;
}


.Mark{
   font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: 700px;
   
    text-decoration-line: underline;
    
    color: #6047EC;
}
.Bookmark{
    
    margin-left: 50px;
}

.blog{
    margin-right: 550px;
}


