.item img{
    width: 420px;
   margin-top: 100px;
   right: 20px;
   display: flex;
}
.Author-img{
    max-width:60px;
    border-radius: 50%;
}

.Author-name{
    margin-top: 1px;
    margin-right: 200px;
}
.Read{
    margin-top: 50px;
    margin-left: 300px;
}



