#root{
    padding: 0 2rem;
    /* min-width: 100%; */
}
.Header{
display: flex;
align-items: center;
}

.bar{
    margin-left: 600px;
    position: absolute;
    width: 306px;
    height: 64px;
    left: 100px;
    right: 500px;
    top: 50px;
    }
    
    .Link{
        margin-right: 30px;
        color: brown;
    }

.Heading{
    position: absolute;
    width: 306px;
    height: 64px;
    left: 100px;
    top: 20px;
    
}
