.Learn-container{
    display: grid ;
    /* grid-template-columns: 1fr 1fr; */
}

.time{
    position: absolute;
    width: 313px;
    height: 38px;
    left: 1100px;
    top: 100px;
    
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    
}

.Title{
     color: #6047EC;
}